/**************************
*
*
* Authot: Kasia S
* Date: 21.05.2022
*********/


/* style all P tags */


p{
font-size: 18px;
color: red;
}

#header p {
    font-size: 24px;
}

/* Style all header tags */

h1{
    font-size: 44px;
}