.static-width{
    width: 300px;
    height: 300px;
    background: url(https://gdziewpolscenaweekend.pl/wp-content/uploads/2020/03/88241731_845283332582213_7680956797330391040_n.jpg) no-repeat top center;
    background-color: #606060;
    background-size: 200px;
}